silversea-com-core/src/main/wsdl/lead/LeadFromWeb03.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameFirst" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameMiddle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NameLast" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PreferredDestinations" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VSNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="WorkingWithAgent" nillable="true" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="IsAgent" nillable="true" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="BrochuresRequested" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteLanguage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VoyageCod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Voyage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ship" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SailDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RequestDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestSubType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="InsertUTCDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DeparturePort" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalPort" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Completed" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MarketingEffort" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MCId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuiteCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuiteVariation" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="SiteCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att01" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att02" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att03" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att04" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att05" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att06" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att07" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att08" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att09" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Att10" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addRequestObj">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="item" type="tns:RequestItem03" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestItem03">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameFirst" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameMiddle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameLast" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreferredDestinations" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VSNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WorkingWithAgent" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAgent" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="BrochuresRequested" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteLanguage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VoyageCod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Voyage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ship" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SailDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestSubType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestSource" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InsertUTCDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DeparturePort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalPort" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Completed" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MarketingEffort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MCId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscribeEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuiteCategory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuiteVariation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SiteCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att05" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att06" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att07" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att08" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att09" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Att10" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addRequestObjResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addRequestObjResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsSoapIn">
    <wsdl:part name="parameters" element="tns:New_x0020_Method_x0020_with_x0020_52_x0020_Arguments" />
  </wsdl:message>
  <wsdl:message name="New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsSoapOut">
    <wsdl:part name="parameters" element="tns:New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsResponse" />
  </wsdl:message>
  <wsdl:message name="addRequestObjSoapIn">
    <wsdl:part name="parameters" element="tns:addRequestObj" />
  </wsdl:message>
  <wsdl:message name="addRequestObjSoapOut">
    <wsdl:part name="parameters" element="tns:addRequestObjResponse" />
  </wsdl:message>
  <wsdl:portType name="LeadFromWeb03Soap">
    <wsdl:operation name="addRequest">
      <wsdl:input name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments" message="tns:New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsSoapIn" />
      <wsdl:output name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments" message="tns:New_x0020_Method_x0020_with_x0020_52_x0020_ArgumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addRequestObj">
      <wsdl:input message="tns:addRequestObjSoapIn" />
      <wsdl:output message="tns:addRequestObjSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LeadFromWeb03HttpGet" />
  <wsdl:portType name="LeadFromWeb03HttpPost" />
  <wsdl:binding name="LeadFromWeb03Soap" type="tns:LeadFromWeb03Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addRequest">
      <soap:operation soapAction="http://tempuri.org/New Method with 52 Arguments" style="document" />
      <wsdl:input name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRequestObj">
      <soap:operation soapAction="http://tempuri.org/addRequestObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeadFromWeb03Soap12" type="tns:LeadFromWeb03Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addRequest">
      <soap12:operation soapAction="http://tempuri.org/New Method with 52 Arguments" style="document" />
      <wsdl:input name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="New_x0020_Method_x0020_with_x0020_52_x0020_Arguments">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRequestObj">
      <soap12:operation soapAction="http://tempuri.org/addRequestObj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LeadFromWeb03HttpGet" type="tns:LeadFromWeb03HttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="LeadFromWeb03HttpPost" type="tns:LeadFromWeb03HttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="LeadFromWeb03">
    <wsdl:port name="LeadFromWeb03Soap" binding="tns:LeadFromWeb03Soap">
      <soap:address location="http://servicest.silversea.com/LeadFromWeb03.asmx" />
    </wsdl:port>
    <wsdl:port name="LeadFromWeb03Soap12" binding="tns:LeadFromWeb03Soap12">
      <soap12:address location="http://servicest.silversea.com/LeadFromWeb03.asmx" />
    </wsdl:port>
    <wsdl:port name="LeadFromWeb03HttpGet" binding="tns:LeadFromWeb03HttpGet">
      <http:address location="http://servicest.silversea.com/LeadFromWeb03.asmx" />
    </wsdl:port>
    <wsdl:port name="LeadFromWeb03HttpPost" binding="tns:LeadFromWeb03HttpPost">
      <http:address location="http://servicest.silversea.com/LeadFromWeb03.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>